<div id='container' ng-init="url = []">
<!-- Your code here -->
<form name="form" action="">
  <div ng-controller="ShortenController">
    <input ng-model="url" name="url" type="url"/>
    <button ng-click="link.url = url; addLink()" ng-disabled="form.url.$invalid"><a>Add link</a></button>
    <button><a href="#/links">See links</a></button>
    <p class="error" ng-show="form.url.$invalid">Check your url!</p>

  <hr>
    <pre>
      {{ form.url.$valid }}
    </pre>
  </hr>
  </div>
  <button ng-click="signout()">Signout</button>
</div>
</form>
<!--
ngPattern="regex" 
name="urls" ng-pattern="regex" required="true"
 -->